<html>

<head>
    <style>
        body {
            padding: 50px;
        }
    </style>
</head>

<body>
    <h1>Inicio de sesión correcto</h1>

    <h3>Los datos de su perfil son:</h3>
    <p>
        <% if (user.photos) { %>
        PHOTO: <img src="<%= user.photos[0].value %>" /><br />
        <% } %>
        ID: <%= user.id %><br />
        <!-- Firstname: <%= user.givenName %><br />
    Middlename: <%= user.middleName %><br />
    Lastname: <%= user.familyName %><br /> -->

        NAME: <%= user.displayName %><br />
        <% if (user.phoneNumber) { %>
        PhoneNumber: <%= user.phoneNumber.value %><br />
        <% } %>
        <% if (user.photoURL) { %>
        PhotoURL: <%= user.photoURL.value %><br />
        <% } %>
        <% if (user.emails) { %>
        EMAIL: <%= user.emails[0].value %><br />
        <% } %>
        PROVEEDOR: <strong><%= user.provider %></strong><br />


    </p>
    <h4>Ya puede cerrar está ventana.</h4>
    <button onclick="window.close()">Cerrar </button>

</body>

</html>