<div id="pefil" style="padding: 50px;">
    <h1>Sesión iniciada</h1>

    <h3>Perfil de usuario</h3>
    <div>
        <% if (user.photos) { %>
        <img src="<%= user.photos[0].value %>" /><br />
        <% } %>
        ID: <%= user.id %><br />
        NAME: <%= user.displayName %><br />
        <% if (user.phoneNumber) { %>
        PhoneNumber: <%= user.phoneNumber.value %><br />
        <% } %>
        <% if (user.photoURL) { %>
        PhotoURL: <%= user.photoURL.value %><br />
        <% } %>
        <% if (user.emails) { %>
        EMAIL: <%= user.emails[0].value %><br />
        <% } %>
        PROVEEDOR: <strong><%= user.provider %></strong><br /><br><br>


        <button onclick="window.close()">Cerrar ventana</button>

    </div>
</div>